
<section>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://cdn.shopify.com/s/files/1/0535/4658/2170/files/CAR-banners-3-calidadyfrescura.jpg?v=1651688953" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="https://cdn.shopify.com/s/files/1/0535/4658/2170/files/PE-1920x900_f926364a-9e0e-49bd-ad40-accf1a71b673.jpg?v=1665703319" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="https://cdn.shopify.com/s/files/1/0535/4658/2170/files/CAR-banners-2_0f40b672-6660-4ee7-8395-014a1290e9e4.jpg?v=1651688915" class="d-block w-100" alt="...">
          </div>
          <!--https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg-->
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</section>
<div class="container">
  <div class="row pt-1 pb-1">
      <div class="col-lg-12 text-center">
          <h4 class="text-center">ALGUNO DE NUESTROS PRODUCTOS</h4>
          <h6 class="text-center"> VEN Y COMPRUEBA PORQUE SOMOS LOS MEJORES !!</h6>
      </div>
  </div>
</div>


