<div class="container">
    <h3 style="text-align:center">Nuestros Paquetes!👌</h3>
	
	<div class="row" id="ads">
    <!-- Category Card -->
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">OFERTA</span>
                <span class="card-notify-year">☆</span>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1547050605-2f268cd5daf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">PAQUETE DISCA</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h6>1Kg Picada de Cerdo</h6>
                    <h6>1Kg Molida de res  </h6>
                    <h6>300gr Salchicha    </h6>
                    <h6>300gr Tocino       </h6>
                    <h6>200gr Chorizo      </h6>
                </div>
                <a class="ad-btn" href="#">PEDIR </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded">
           
            <div class="card-image-overlay m-auto">
                <span class="card-notify-badge">OFERTA</span>
                <span class="card-notify-year">☆</span>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1504973960431-1c467e159aa4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">PAQUETE NAVIDEÑO</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h6>1Kg Picada de Cerdo</h6>
                    <h6>1Kg Molida de res  </h6>
                    <h6>300gr Salchicha    </h6>
                    <h6>300gr Tocino       </h6>
                    <h6>200gr Chorizo      </h6>
                </div>
                <a class="ad-btn" href="#">PEDIR </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">OFERTA</span>
                <span class="card-notify-year">☆</span>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1607623814075-e51df1bdc82f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">PAQUE COMPARTAS</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h6>1Kg Picada de Cerdo</h6>
                    <h6>1Kg Molida de res  </h6>
                    <h6>300gr Salchicha    </h6>
                    <h6>300gr Tocino       </h6>
                    <h6>200gr Chorizo      </h6>
                </div>
                <a class="ad-btn" href="#">PEDIR </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">OFERTA</span>
                <span class="card-notify-year">☆</span>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1547050605-2f268cd5daf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">PAQUETE DISCA</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h6>1Kg Picada de Cerdo</h6>
                    <h6>1Kg Molida de res  </h6>
                    <h6>300gr Salchicha    </h6>
                    <h6>300gr Tocino       </h6>
                    <h6>200gr Chorizo      </h6>
                </div>
                <a class="ad-btn" href="#">PEDIR </a>
            </div>
        </div>
    </div>

</div>